<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
            Made with&nbsp;<span class="heart">&hearts;</span>&nbsp;by Abhishek Singh
        <!-- <div class="f-info-links">
             <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a> 
        </div>  -->
    </div>
</footer>

<style>
    .heart {
        color: red;
        gap: 5px;
    }
</style>